body{
    margin: 0px;
    background: url('../pictures/fond_game.jpeg');
}

.back-button{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
}

header.game-header{
    display: flex;
    padding: 100px 285px;

}

.javascript{
    color: white;
    text-align: center;
    height: 400px;
    width: 400px;
}

.javascript img{
    border-radius: 20px;
    height: 400px;
    width: 400px;
}

.title-js{
    border: 2px solid;
    border-radius: 10px;
}

.python{
    padding-left: 20px;
    color: white;
    text-align: center;
    height: 400px;
    width: 400px;
}
.python img{
    border-radius: 20px;
    height: 400px;
    width: 400px;
}

.title-python{
    border: 2px solid;
    border-radius: 10px;
}

.unity{
    padding-left: 20px;
    color: white;
    text-align: center;
    height: 400px;
    width: 400px;
}

.unity img{
    border-radius: 20px;
    height: 400px;
    width: 400px;
}

.title-unity{
    border: 2px solid;
    border-radius: 10px;
}